/* Start styling of cart item component */


.card-animate {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.coupon-container {
  max-width: 400px;
  margin: 0 auto;
}

.coupon-input {
  padding-right: 90px; /* space for the button */
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  
}

.coupon-apply-btn {
  position: absolute;
  padding: 0 8px !important;
  top: 0;
  height: 100%;
}

/* LTR (English) */
[dir="ltr"] .coupon-apply-btn {
  right: 0;
  border-radius: 0 8px 8px 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

/* RTL (Arabic) */
[dir="rtl"] .coupon-apply-btn {
  left: 0;
  border-radius: 8px 0 0 8px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


/* End styling of cart item component
