/* Start of styling discount sction component */
.discount-background {
  height: 130px;
  border-radius: 8px;
  background: radial-gradient(circle, #767676 0%, #4d4f50 100%, #494c4d 100%);
}
.discount-title {
  color: #ffffff;
  font-family: "Cairo";
  font-size: 21px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .discount-title {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .mb-30px-mobile {
    margin-bottom: 30px;
  }
}

.discount-img {
  max-height: 130px;
  max-width: 80%;
}
/* End of styling discount sction component */
