/* Start Of Styling Slider Component */

/* Background gradient styles for different slider variations */
.slider-one {
  background: linear-gradient(173.68deg, #ffedf5 0%, #ffd5e7 100%);
}
.slider-two {
  background: linear-gradient(174.76deg, #d3deff 0%, #a8baff 100%);
}
.slider-three {
  background: linear-gradient(176.69deg, #f8f0d5 0%, #efdcab 100%);
}
.slider-four {
  background: linear-gradient(175.24deg, #b2e8f0 0%, #7bccdc 100%);
}

/* Styling the image inside the slider */
/* Adds spacing at top and left, fixes the height, and limits max width */
.slider-background img {
  margin-top: 10px;
  margin-left: 15px;
  height: 296px;
  max-width: 294.26px;
}

/* Common styles for slider titles and paragraph text */
/* Sets color, font, center alignment, and initial animation state */
.slider-title,
.slider-text {
  color: #915970;
  font-family: "Almarai";
  text-align: center;

  user-select: none;

  /* Animation to fade in and move up smoothly */
  animation: fadeInUp 1s ease forwards;
  opacity: 0; /* Start invisible for animation */
}

/* Keyframes for fadeInUp animation */
/* From slightly below and transparent to fully visible and positioned */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(20px);
  }
}

/* Specific font size for slider title */
.slider-title {
  font-size: 24px;
}

/* Specific font size and weight for slider text */
.slider-text {
  font-size: 30px;
  font-weight: 800;
}

/* Responsive styles for screen widths 767px and below */
@media (max-width: 767px) {
  /* Make flex container stack vertically on mobile */
  .flex-column-mobile {
    display: flex;
    flex-direction: column;
  }

  /* Adjust image size and remove left margin on small screens */
  .slider-background img {
    width: 250px;
    max-height: 296px;
    margin-left: 0;
  }

  /* Smaller font size and spacing adjustments for title on mobile */
  .slider-title {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
  }

  /* Smaller font size and bottom margin for slider text on mobile */
  .slider-text {
    margin-bottom: 50px;
    font-size: 20px;
  }
}

/* End Of Styling Slider Component */
