/* Start Of Global Styling  */

:root {
  --main-sub-title-color: #272727 !important;
}

body {
  margin: 0;
  font-family: "Almarai", sans-serif !important;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

input:focus::placeholder,
textarea:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.font {
  background-color: #f9f9f9;
}

@media (max-width: 767px) {
  .col-mobile {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .flex-center-mobile {
    display: flex;
    align-items: center;
  }
}

.flex-grow-2 {
  flex-grow: 2 !important;
}

@media (max-width: 767px) {
  .flex-grow-1-mobile {
    flex-grow: 1 !important;
  }
}

/* End Of Global Styling  */

.hieght-search {
  height: 80vh;
}

/* login and register style */

.user-input {
  box-sizing: border-box;
  height: 37px;
  width: 375px;
  border: 1px solid #979797;
  border-radius: 8px;
}
.title-login {
  color: #555550;
  font-family: Almarai;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
.btn-login {
  height: 46px;
  width: 374px;
  border-radius: 9px;
  border: none;
  color: white;
  background-color: #272727;
}
.btn-login:hover {
  color: rgb(206, 204, 204);
}

@media (max-width: 767px) {
  .gap-20-mobile {
    gap: 20px;
  }
}

/* end login and register */

/* cart page */

.copon-input {
  box-sizing: border-box;
  height: 46px;
  width: 90%;
  border: 1px solid #979797;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: normal;
}
.copon-btn {
  cursor: pointer;
  border: none;
  height: 46px;
  padding-top: 5px;
  border-radius: 5px !important;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px !important;
  border-radius: 0 !important;
  background-color: #272727;
  color: #ffff !important;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: normal;
}

.cart-checkout {
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
}

/* cart end */

/* admin style  */
.sidebar {
  height: 660px;
  width: 100%;
  border-radius: 21px;
  background-color: #ffffff;
}

.admin-side-text {
  color: #272727;
  font-family: "Almarai";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.admin-side-text:hover {
  background-color: #272727;
  color: white;
  font-size: 14px;
}
.admin-content-text {
  color: #555550;
  font-family: Almarai;
  font-size: 21px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 28px;
  text-align: right;
}
.item-delete-edit {
  color: #979797;
  font-family: "Almarai";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 30px;
  text-align: right;
  cursor: pointer;
}

.text-form {
  color: #979797;
  font-family: "Almarai";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
}
.input-form {
  height: 37px;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.input-form-area {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.select {
  box-sizing: border-box;
  height: 40px;
  color: #979797;
  width: 100%;
  border: 1px solid #979797;
  border-radius: 8px;
}
.btn-save {
  border: none;
  color: white;
  height: 46px;
  width: 150px;
  border-radius: 9px;
  background-color: #272727;
}
.btn-save:hover {
  color: rgb(164, 164, 164);
}
.btn-a {
  border: none;
  color: white;
  height: 45px;
  border-radius: 9px;
  background-color: #272727;
}
.btn-a:hover {
  color: rgb(164, 164, 164);
}
/* end admin  */

/* user order */
.user-order {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}
.order-title {
  color: #272727;
  font-family: "Almarai";
  font-size: 16px;
  font-weight: bold;
}

.status {
  color: #979797;
  font-family: "Cairo";
  font-size: 16px;
}
/* end user order */

/* user Address */

.user-address-card {
  width: 100%;
  border-radius: 7px;

  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}
.btn-add-address {
  border: none;
  height: 50px;
  width: 100%;
  color: white;
  border-radius: 9px;
  background-color: #272727;
}

/* user address */

/* user card data */
.user-data {
  width: 100% !important;
  border-radius: 7px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.5);
}
/* end user data */

/* Start Of Upload Image Style  */
#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
/* End of Upload Image Style  */

/* Start Of Styling Dropdown in the NavBar */
.dropdown-toggle {
  color: white !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.dropdown-menu {
  background-color: #212529 !important;
  color: white !important;
}
.dropdown-item {
  color: white !important;
  text-align: center !important;
}
.dropdown-item:hover {
  color: #212529 !important;
  background-color: white !important;
}

.dropdown-toggle::after {
  margin-right: 5px;
}
.nav-item.dropdown {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End Of Styling Dropdown in the NavBar */
