/* Start Styling of SubTitle Component */

.sub-title,
.shopping-now {
  font-weight: bold;
}

.light-theme .sub-title,
.light-theme .shopping-now {
  color: var(--main-color);
}

.dark-theme .sub-title,
.dark-theme .shopping-now {
  color: var(--main-text-color) !important;
}

.sub-title {
  font-size: 21px;
  font-weight: bold;
  flex: 1 1 auto;
}

.shopping-now {
  padding: 5px 25px;
  border: 1px solid var(--main-color);
  cursor: pointer;
  transition: background-color var(--main-duration) ease,
    color var(--main-duration) ease;
  -webkit-transition: background-color var(--main-duration) ease,
    color var(--main-duration) ease;
  -moz-transition: background-color var(--main-duration) ease,
    color var(--main-duration) ease;
  -ms-transition: background-color var(--main-duration) ease,
    color var(--main-duration) ease;
  -o-transition: background-color var(--main-duration) ease,
    color var(--main-duration) ease;

  color: var(--main-color) !important;

  border-radius: 14px;
}

.dark-theme .shopping-now {
  border-color: var(--main-text-color);
}

.shopping-now:hover,
.shopping-now:focus {
  background-color: var(--main-text-color);
  color: var(--main-color) !important;
}

.light-theme .shopping-now:hover,
.light-theme .shopping-now:focus {
  background-color: var(--main-color);
  color: var(--main-text-color) !important;
}

/* End Styling of SubTitle Component */
